# Sesiones y perfiles de navegador
gmail_session_v2/

# Entornos virtuales
venv/
.venv/

# Secretos
.env
.env.*

# Entornos y notebooks
.ipynb_checkpoints/
__pycache__/
*.py[cod]

# Archivos de sistema / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Gráficos dinámicos generados
backend/app/static/*.png
!backend/app/static/.gitkeep